
.project-SAP-div {
    min-width: 100%;
    flex-grow: 1;

    display: flex;
    flex-flow: column wrap;
    height: 300px;
    align-items: center;
    justify-content: center;
    transition: width 0.5s, height 0.5s ease-in;
}

.project-SAP-div:hover{
    background-color: violet;
    cursor: pointer;
}


.SAP-selected {
    width: 100% !important;
    height: 500px !important;
    border: 2px solid black;
    order: 0 !important; 
}

.SAP-unselected {
    height: 200;
}



.red { 
    background-color: red ;
    filter: blur(1)

}

.red:hover {
    filter: none !important;
}

.green { 
    background-color: green
}

.blue { 
    background-color: blue
}

.yellow { 
    background-color: yellow
}

@media only screen and (max-width: 500px) {
    .project-SAP-div {
        width: 100%;
}
}
