
.project-flex {
  margin-top: 15px;
  display: flex;
  flex-flow: row wrap;
}


.project-column {
  margin-top: 15px;
  display: flex;
  flex-flow: column wrap;
}

.app-wrapper{
  display: flex;
  min-height: 97.8vh; 
  flex-direction: column;
}

.content-wrapper {
  flex-grow: 1;
}

body {
  background-color: whitesmoke;
}